body{
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: 22px;
    margin: auto;
    width: 1000px;
    background-color:#FFFFBA;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 100px;
    height: 100px;
}

.foods ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin-top: 52px;
}

.foods ul a {
    text-decoration: none;
    color: black;
}

h1{
    background-color:#518fa8;
    border-style: dotted;
    font-size: 40px;
    text-align: center;
    margin: 0px;
}

.first-image{
    width: 600px;
    margin: auto;
}

.flex a {
    text-decoration: none;
}

.flex ul {
    list-style-type: none;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0;
}
