body{
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: 22px;
    margin: auto;
    width: 800px;
    background-color:#FFFFBA;
}

h1{
    background-color:#518fa8;
    border-style: dotted;
}

.abacha-page{
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: 22px;
}

.center{
    width: 600px;
    margin: auto;
}

#intro{
    
    padding-bottom: 10px;
}

.second{
    width: 600px;
    margin: auto;
}